html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**
 * Base styles 		~	 	Grid options
 */
/**
 * Base styles 		~	 	Media Query options
 */
/**
 * Base styles 		~	 	Colours
 */
/**
 * Base styles 		~	 	Type
 */
/**
 * Base styles
 */
html {
  font-family: "Helvetica", helvetica, sans-serif;
  font-size: 62.5%;
  overflow: hidden; }
  @media screen and (max-width: 1000px) {
    html {
      font-size: 50%; } }

body {
  position: relative;
  background-color: white;
  color: black; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom; }

.isMobile {
  display: none;
  visibility: hidden; }
  @media screen and (max-width: 1000px) {
    .isMobile {
      visibility: visible;
      display: block; } }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #000;
  text-shadow: none;
  color: white; }

::selection {
  background: #000;
  text-shadow: none;
  color: white; }

.no-bullet,
ul.no-bullet {
  list-style: none; }

/* Misc ---------------------- */
.hide {
  display: none; }

.fill-remainder {
  float: none;
  overflow: hidden; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none; } }

@media screen and (min-width: 480px) {
  .hide-desktop {
    display: none; } }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Base styles ~ Grid
 */
.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.one {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .one:last-child {
    margin-right: 0; }

.two {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .two:last-child {
    margin-right: 0; }

.three {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .three:last-child {
    margin-right: 0; }

.four {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .four:last-child {
    margin-right: 0; }

.five {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .five:last-child {
    margin-right: 0; }

.six {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .six:last-child {
    margin-right: 0; }

.seven {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .seven:last-child {
    margin-right: 0; }

.eight {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .eight:last-child {
    margin-right: 0; }

.nine {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .nine:last-child {
    margin-right: 0; }

.ten {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .ten:last-child {
    margin-right: 0; }

.eleven {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .eleven:last-child {
    margin-right: 0; }

.twelve {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .twelve:last-child {
    margin-right: 0; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.eot");
  src: url("../fonts/Helvetica.eot") format("embedded-opentype"), url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.svg#Helvetica") format("svg"); }
@font-face {
  font-family: 'HelveticaLight';
  src: url("../fonts/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight.eot") format("embedded-opentype"), url("../fonts/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight.ttf") format("truetype"), url("../fonts/HelveticaLight.svg#HelveticaLight") format("svg"); }
@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold.eot") format("embedded-opentype"), url("../fonts/HelveticaBold.woff2") format("woff2"), url("../fonts/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold.ttf") format("truetype"), url("../fonts/HelveticaBold.svg#HelveticaBold") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url("../fonts/HelveticaNeueBold.eot");
  src: url("../fonts/HelveticaNeueBold.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueBold.woff2") format("woff2"), url("../fonts/HelveticaNeueBold.woff") format("woff"), url("../fonts/HelveticaNeueBold.ttf") format("truetype"), url("../fonts/HelveticaNeueBold.svg#HelveticaNeueBold") format("svg"); }
/**
 * Base styles ~ Type
 */
a {
  color: #4183C4; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 14px 0;
  font-family: "HelveticaBold", helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #939393;
  text-rendering: optimizeLegibility; }

h1,
.h1 {
  font-size: 44px;
  line-height: 48.4px;
  font-size: 4.4rem;
  line-height: 4.84rem; }

h2,
.h2 {
  font-size: 37px;
  line-height: 40.7px;
  font-size: 3.7rem;
  line-height: 4.07rem; }

h3,
.h3 {
  font-size: 27px;
  line-height: 29.7px;
  font-size: 2.7rem;
  line-height: 2.97rem; }

h4,
.h4 {
  font-size: 23px;
  line-height: 25.3px;
  font-size: 2.3rem;
  line-height: 2.53rem; }

h5,
.h5 {
  font-size: 17px;
  line-height: 18.7px;
  font-size: 1.7rem;
  line-height: 1.87rem; }

h6,
.h6 {
  font-size: 14px;
  line-height: 15.8px;
  font-size: 1.4rem;
  line-height: 1.58rem; }

p {
  margin-bottom: 17px;
  font-family: inherit;
  font-weight: normal; }

hr {
  margin: 22px 0 21px;
  height: 0;
  border: solid #fff;
  border-width: 1px 0 0;
  clear: both; }

em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

.modal .modal-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }
  .modal .modal-fade-screen .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }
.modal .closeModal {
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  background-color: #f1b348;
  height: 5rem;
  width: 5rem;
  z-index: 9999;
  color: white;
  font-size: 2.4rem;
  text-align: center;
  cursor: pointer; }
  .modal .closeModal .cross {
    background: url(../images/icon-cursor-white.png) no-repeat center center;
    background-size: cover;
    height: 5rem;
    width: 5rem;
    background-size: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem; }
.modal .modal-inner {
  height: 100%;
  width: 100%;
  background: white;
  margin: auto;
  overflow: auto;
  padding: 5rem;
  position: relative; }
  .modal .modal-inner iframe {
    display: block;
    width: 100%;
    height: 100%; }
  .modal .modal-inner .video-modal {
    width: 100%;
    height: 100%; }

#content {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border: 5rem solid white; }
  #content .top {
    position: absolute;
    top: 5rem; }
    #content .top.left {
      left: 5rem; }
    #content .top.right {
      right: 5rem; }
  #content h1.logo {
    display: block;
    height: 19.5rem;
    width: 24.4rem;
    background: url("../images/logo.svg") no-repeat center center;
    background-size: 24.4rem;
    background-position-y: 3rem;
    text-indent: -9999px; }
  #content .play-btn {
    display: block;
    height: 10.7rem;
    width: 10.7rem;
    border-radius: 100%;
    position: relative;
    border: 1.7rem solid rgba(241, 179, 72, 0.1);
    margin: 0 auto; }
    #content .play-btn:before {
      content: " ";
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 100%;
      background-color: #f1b348; }
    #content .play-btn .diamond {
      height: 2.5rem;
      width: 1.6rem;
      background: url("../images/asset-icon-play-btn.svg") no-repeat center center;
      background-size: 1.6rem;
      position: absolute;
      top: 50%;
      margin-top: -1.25rem;
      left: 50%;
      margin-left: -0.8rem; }
  #content .vertical-center {
    overflow: auto; }
    #content .vertical-center .center {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      #content .vertical-center .center:last-child {
        margin-right: 0; }
  #content .fixed-content {
    position: fixed;
    top: 10rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 99997; }
    #content .fixed-content h3 {
      width: 100%;
      font-family: "HelveticaBold", helvetica, sans-serif;
      font-size: 2.5rem;
      color: white;
      text-align: center;
      text-transform: uppercase; }
      #content .fixed-content h3 span {
        color: #f1b348; }
  #content .btn {
    padding: 3.5rem 6rem;
    display: inline-block;
    font-family: "HelveticaBold", helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem; }
    #content .btn.yellow {
      color: white;
      background-color: #f1b348; }
  #content.home {
    background: url("../images/asset-background-home@2x.jpg") no-repeat center center;
    background-size: cover; }
    #content.home .we-are {
      font-family: "HelveticaNeueBold", helvetica, sans-serif;
      font-size: 16.8rem;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.1);
      text-align: center;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin: 0;
      float: none;
      position: absolute;
      top: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      #content.home .we-are:last-child {
        margin-right: 0; }
    #content.home .logo {
      margin: 0 auto; }
  #content.work {
    background-color: black; }
    #content.work > ul {
      padding-left: 0;
      margin: 0;
      list-style: none; }
      #content.work > ul li {
        height: 100vh;
        width: auto;
        position: relative; }
        #content.work > ul li > img {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          z-index: -1;
          object-fit: cover; }
        #content.work > ul li h2 {
          font-size: 6.25rem;
          color: #939393;
          letter-spacing: -0.3rem;
          text-align: center;
          margin-bottom: 3rem;
          margin-top: 7rem; }
    #content.work .arrows .slick-arrow {
      display: block;
      background-color: #f1b348;
      height: 7.5rem;
      width: 15rem;
      cursor: pointer;
      text-align: center;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.6rem;
      line-height: 7.5rem;
      position: fixed;
      z-index: 9999;
      bottom: 2.5rem; }
      #content.work .arrows .slick-arrow.prev {
        left: 2.5rem; }
      #content.work .arrows .slick-arrow.next {
        right: 2.5rem; }
  #content.about {
    height: 100%;
    width: 100vw;
    background: url("../images/asset-about-landing@2x.jpg") no-repeat center center;
    background-size: cover;
    overflow: auto; }
    #content.about .fixed-content {
      position: absolute; }
    #content.about .landing {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%;
      height: calc(100vh - 15rem);
      margin-bottom: 5rem;
      position: relative;
      z-index: 9; }
      #content.about .landing:last-child {
        margin-right: 0; }
      #content.about .landing .world-map span {
        display: block;
        height: 3.8rem;
        width: 2.8rem;
        background: url("../images/asset-icon-world.svg") no-repeat center center;
        background-size: 2.7rem;
        position: absolute;
        top: 50%;
        margin-top: -1.9rem;
        left: 50%;
        margin-left: -1.4rem; }
      #content.about .landing h2 {
        display: block;
        width: 80%;
        color: white;
        font-size: 6.25rem;
        letter-spacing: -0.5rem;
        text-align: center;
        margin: 0 auto 9.5rem;
        padding-top: 31rem; }
    #content.about .main {
      background-color: white;
      position: relative;
      z-index: 99;
      height: 100%;
      width: 100%;
      overflow: auto; }
      #content.about .main h2 {
        font-family: "HelveticaBold", helvetica, sans-serif;
        font-size: 5rem;
        letter-spacing: -0.5rem;
        color: #f1b348;
        text-align: center;
        margin: 0; }
      #content.about .main > div {
        background-color: white; }
        #content.about .main > div:first-child {
          padding: 14rem 0; }
          #content.about .main > div:first-child p {
            font-family: "HelveticaLight", helvetica, sans-serif;
            color: black;
            font-size: 1.6rem;
            line-height: 1.5; }
            #content.about .main > div:first-child p:first-child {
              margin-top: 0; }
            #content.about .main > div:first-child p:last-child {
              color: #f1b348; }
        #content.about .main > div:nth-child(2) h2 {
          text-align: left;
          padding-top: 15rem;
          line-height: 5rem; }
        #content.about .main > div:nth-child(3) {
          margin-bottom: 42.8rem; }
      #content.about .main .yellow-box {
        background-color: #f1b348;
        padding: 10rem;
        margin-left: 42.64902%;
        margin-top: -11.5rem; }
        #content.about .main .yellow-box ul {
          padding-left: 0;
          margin: 0;
          list-style: none; }
          #content.about .main .yellow-box ul li {
            font-family: "HelveticaBold", helvetica, sans-serif;
            color: white;
            font-size: 2rem;
            line-height: 4.2rem; }
      #content.about .main footer {
        position: fixed;
        bottom: 5rem;
        width: 100%;
        z-index: -1; }
        #content.about .main footer .btn {
          position: absolute;
          bottom: 0;
          margin-left: 17.05961%; }
  #content.contact {
    height: 100vh;
    width: 100vw;
    background: url("../images/asset-background-contact@2x.jpg") no-repeat center center;
    background-size: cover; }
    #content.contact .fixed-content span {
      font-size: 6.25rem;
      font-family: "HelveticaBold", helvetica, sans-serif;
      text-align: center;
      color: #939393; }
    #content.contact .yellow-row {
      padding: 5rem 0;
      width: calc(100% - 10rem);
      background-color: #f1b348;
      position: fixed;
      bottom: 5rem; }
      #content.contact .yellow-row .ten {
        margin-left: 8.5298%; }
      #content.contact .yellow-row p {
        color: white;
        font-size: 1.6rem;
        margin-top: 0;
        line-height: 1.5; }
      #content.contact .yellow-row a {
        display: block;
        font-size: 1.7rem;
        color: white;
        text-decoration: none;
        line-height: 1.5; }
        #content.contact .yellow-row a:hover {
          text-decoration: underline; }

.menu .menu-trigger {
  display: block;
  height: 5rem;
  width: 5rem;
  position: relative;
  z-index: 99999; }
  .menu .menu-trigger.trigger {
    background: url("../images/asset-icon-menu.svg") no-repeat top left;
    background-size: 2rem; }
  .menu .menu-trigger.close {
    background: url("../images/icon-cursor-white.png") no-repeat top left;
    background-size: 2rem; }
.menu #navigation {
  width: calc(100vw - 10rem);
  height: calc(100vh - 10rem);
  position: fixed;
  top: 5rem;
  left: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99998;
  overflow: hidden; }
  .menu #navigation ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    overflow: auto; }
    .menu #navigation ul li {
      display: block;
      height: calc(50vh - 5rem);
      width: calc(50vw - 5rem);
      float: left;
      background: #f0bf69; }
      .menu #navigation ul li:nth-child(2), .menu #navigation ul li:nth-child(3) {
        background: #f1b348; }
      .menu #navigation ul li a {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        position: relative; }
        .menu #navigation ul li a span {
          display: inline-block;
          font-family: "HelveticaBold", helvetica, sans-serif;
          color: white;
          text-align: center;
          text-transform: lowercase;
          font-size: 5rem;
          text-decoration: none;
          position: absolute;
          top: 50%;
          margin-top: -2.7rem;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }

.social {
  z-index: 99997; }
  .social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    overflow: visible; }
    .social ul li {
      height: 3.25rem;
      width: 3.25rem;
      display: block;
      float: left;
      background-color: #f1b348;
      border-radius: 100%;
      margin-right: 1.5rem; }
      .social ul li a {
        display: block;
        height: 100%;
        width: 100%;
        text-indent: -9999px; }
      .social ul li:first-child a {
        background: url("../images/asset-icon-vimeo.svg") no-repeat center center;
        background-size: 1.25rem; }
      .social ul li:nth-child(2) a {
        background: url("../images/asset-icon-facebook.svg") no-repeat center center;
        background-size: 0.75rem; }
      .social ul li:nth-child(3) {
        margin-right: 0; }
        .social ul li:nth-child(3) a {
          background: url("../images/asset-icon-instagram.svg") no-repeat center center;
          background-size: 1.4rem; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

ul.slick-dots {
  height: 1.25rem;
  width: auto;
  position: fixed;
  z-index: 99997;
  bottom: 10rem;
  padding-left: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  ul.slick-dots li {
    height: 1.25rem;
    width: 1.25rem;
    display: block;
    float: left;
    margin-right: 1rem; }
    ul.slick-dots li:last-child {
      margin-right: 0; }
    ul.slick-dots li button {
      height: 1.25rem;
      width: 1.25rem;
      border: none;
      background: white;
      display: block;
      text-indent: -9999px;
      border-radius: 100%;
      opacity: .2; }
      ul.slick-dots li button:focus {
        outline: none; }
    ul.slick-dots li.slick-active button {
      opacity: 1; }

/*# sourceMappingURL=main.css.map */
