#content {
	@include size(100vw 100vh);
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	border: 5rem solid white;

	// general
	.top {
		position: absolute;
		top: 5rem;
		&.left {
			left: 5rem;
		}
		&.right {
			right: 5rem;
		}
	}
	h1.logo {
		display: block;
		@include size(24.4rem 19.5rem);
		background: url('../images/logo.svg') no-repeat center center;
		background-size: 24.4rem;
    	background-position-y: 3rem;
		text-indent: -9999px;
	}
	.play-btn {
		display: block;
		@include size(10.7rem);
		border-radius: 100%;
		position: relative;
		border: 1.7rem solid rgba(241,179,72,0.1);
		margin: 0 auto;
		&:before {
			content: " ";
			@include size(100%);
			display: block;
			border-radius:100%;
			background-color: $yellow;
		}
		.diamond {
			@include size(1.6rem 2.5rem);
			background: url('../images/asset-icon-play-btn.svg') no-repeat center center;
			background-size: 1.6rem;

			position: absolute;
			top: 50%; margin-top: -1.25rem;
			left: 50%; margin-left: -0.8rem;
		}
	}
	.vertical-center {
		overflow: auto;
		.center {
			@include span-columns(8);
			@include shift(2);
		}
	} 
	.fixed-content {
		position: fixed;
		top: 10rem; left:50%;
		@include transform(translateX(-50%));
		z-index: 99997;

		h3 {
			width: 100%;
			font-family: $title-font;
			font-size:2.5rem;
			color:white; text-align: center;
			text-transform: uppercase;
			span {
				color: $yellow;
			}
		}
	}
	.btn {
		padding: 3.5rem 6rem;
		display: inline-block;
		font-family: $title-font;
		text-decoration: none;
		text-align: center;
		font-size: 2.5rem;
		&.yellow {
			color: white;
			background-color: $yellow;
		}
	}

	// Page specific
	&.home {
		background: url('../images/asset-background-home@2x.jpg') no-repeat center center;
		background-size: cover;
		.we-are {
			font-family: $alt-font;
			font-size: 16.8rem;
			text-transform: uppercase;
			color: rgba(255,255,255,0.1);
			text-align: center;

			@include span-columns(8);
			margin: 0; float: none;
			position: absolute;
			top: 0;

			-webkit-user-select: none; 
			-moz-user-select: none;    
			-ms-user-select: none;     
			user-select: none;         
		}
		.logo {
			margin: 0 auto;
		}
	}

	&.work {
		background-color: black;
		> ul {
			padding-left: 0;
			margin: 0;
			list-style: none;
			li {
				@include size(auto 100vh);
				position: relative;
				> img {
					position: absolute;
					@include size(100%);
					top: 0;
					z-index: -1;
					object-fit:cover;
				}
				h2 {
					font-size: 6.25rem;
					color:$grey;
					letter-spacing: -0.3rem;
					text-align: center;
					margin-bottom: 3rem;
					margin-top: 7rem;
				}
			}
		}
		.arrows {
			.slick-arrow {
				display: block;
				background-color: $yellow;
				@include size(15rem 7.5rem);
				cursor:pointer;
				
				text-align:center;
				color:white;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 1.6rem;
				line-height: 7.5rem;

				position: fixed;
				z-index: 9999;
				bottom:2.5rem;

				&.prev {
					left: 2.5rem;
				}
				&.next {
					right: 2.5rem;
				}
			}
		}
	}

	&.about {
		@include size(100vw 100%);
		background: url('../images/asset-about-landing@2x.jpg') no-repeat;
		overflow: auto;    background-position: top left;
    	background-size: 100% 100vh;

		.fixed-content {
			position: absolute;
		}

		.landing {
			@include span-columns(6);
			@include shift(3);
			height: calc(100vh - 15rem);
			margin-bottom: 5rem;
			position: relative;
			z-index: 9;
			.world-map {
				span {
					display: block;
					@include size(2.8rem 3.8rem);
					background: url('../images/asset-icon-world.svg') no-repeat center center;
					background-size: 2.7rem;

					position: absolute;
					top: 50%; margin-top: -1.9rem;
					left: 50%; margin-left: -1.4rem;
				}
					
			}
			h2 {
				display: block;
				width: 80%;
				color: white;
				font-size: 6.25rem;
				letter-spacing: -0.5rem;
				text-align: center;
				margin: 0 auto 9.5rem;
				padding-top: 31rem;
			}	
		}
		.main {
			background-color: white;
			position: relative;
			z-index: 99;
			@include size(100%);
			overflow: auto;
			
			h2 {
				font-family: $title-font;
				font-size:5rem;
				letter-spacing: -0.5rem;
				color:$yellow;
				text-align: center;
				margin: 0;
			}
			> div {
				background-color: white;
				&:first-child {
					padding: 14rem 0;
				
					p {
						font-family: $light-font;
						color: black;
						font-size: 1.6rem;
						line-height: 1.5;
						&:first-child {
							margin-top: 0;
						}
						&:last-child {
							color: $yellow;
						}
					}
				}
				&:nth-child(2) {
					h2 {
						text-align: left;
						padding-top: 15rem;
						line-height: 5rem;
					}
				}
				&:nth-child(3) {
					margin-bottom: 42.8rem;
				}
			}
				
			.yellow-box {
				background-color: $yellow;
				padding: 10rem;
				@include shift(5);
				margin-top: -11.5rem;

				ul {
					padding-left: 0;
					margin: 0;
					list-style: none;
					li {
						font-family: $title-font;
						color: white;
						font-size: 2rem;
						line-height: 4.2rem;
					}
				}
			}
			footer {
				position: fixed;
				bottom:5rem;
				width: 100%;
				z-index: -1;
				.btn {
					position: absolute;
					bottom: 0;
					@include shift(2);
				}
			}
		}
	}
	&.contact {
		@include size(100vw 100vh);
		background: url('../images/asset-background-contact@2x.jpg') no-repeat center center;
		background-size: cover;
		.fixed-content {
			span {
				font-size: 6.25rem;
				font-family: $title-font;
				text-align: center;
				color: $grey;
			}
			.logo {
				margin: 0 auto;
			}
		}
		.yellow-row {
			padding: 5rem 0;
			width: calc(100% - 10rem);
			background-color: $yellow;
			position: fixed;
			bottom: 5rem;
			.ten {
				@include shift(1);
				.six:last-child {
					padding-left: 10rem;
				}
			}
			p {
				color: white;
				font-size: 1.7rem;
				margin-top: 0;
				line-height: 1.5;
			}
			a {
				display: block;
				font-size: 1.7rem;
				color: white;
				text-decoration: none;
				line-height: 1.5;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}